@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

[data-theme="dark"] .menu {
  --menu-active-bg: var(--color-primary);
  --menu-active-fg: var(--color-primary-content);
}